In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
# 1) Fetch the data
response = requests.get("https://opensky-network.org/api/states/all")

# 2) Parse JSON
data = response.json()

# 3) Convert to DataFrame
# The "states" field is a list of lists; we assign column names according to the OpenSky API schema
columns = [
    "icao24", "callsign", "origin_country", "time_position", "last_contact",
    "longitude", "latitude", "baro_altitude", "on_ground", "velocity",
    "true_track", "vertical_rate", "sensors", "geo_altitude",
    "squawk", "spi", "position_source"
]

states = data.get("states", [])
df = pd.DataFrame(states, columns=columns)

df.head()

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,ad19d8,N943RV,United States,1.768931e+09,1768931313,-95.9488,30.1368,358.14,False,78.42,321.93,0.00,None,441.96,None,False,0
1,ab1644,UAL1296,United States,1.768931e+09,1768931314,-74.2348,41.4677,2971.80,False,121.39,246.26,-3.58,None,2796.54,None,False,0
2,80162c,AXB1235,India,1.768931e+09,1768931312,76.2365,27.3745,9334.50,False,209.41,203.61,6.18,None,9570.72,None,False,0
3,4b1819,SWR1ZB,Switzerland,1.768931e+09,1768931313,13.6270,45.2799,10957.56,False,227.01,315.73,0.00,None,10881.36,2013,False,0
4,ac96b8,AAL2441,United States,1.768931e+09,1768931313,-89.4295,33.4774,11277.60,False,302.51,89.32,0.00,None,11445.24,2271,False,0

In [3]:
df["on_ground"].value_counts()

on_ground
False    9496
True      765
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10261 entries, 0 to 10260
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   icao24           10261 non-null  object
 1   callsign         10261 non-null  object
 2   origin_country   10261 non-null  object
 3   time_position    10169 non-null  float64
 4   last_contact     10261 non-null  int64
 5   longitude        10169 non-null  float64
 6   latitude         10169 non-null  float64
 7   baro_altitude    9426 non-null   float64
 8   on_ground        10261 non-null  bool
 9   velocity         10258 non-null  float64
 10  true_track       10261 non-null  float64
 11  vertical_rate    9473 non-null   float64
 12  sensors          0 non-null      object
 13  geo_altitude     9396 non-null   float64
 14  squawk           3627 non-null   object
 15  spi              10261 non-null  bool
 16  position_source  10261 non-null  int64
dtypes: bool(2), float64(8), int64(2), object(5)
memory usage: 1.2+ MB

## Author

<a href="https://www.linkedin.com/in/andrew-kalumba-harris/">Andrew Kalumba</a><br>
<a href =""> </a>


| Date (YYYY-MM-DD) | Prepared By     | 
| ----------------- | --------------  | 
| 2026-01-20        | Author          | 


## <h3 align="center"> Â© Data Science 2026. <h3/>